<!doctype html>

<html lang={{ .Site.LanguageCode }}>

{{partial "head" . }}

<body class="{{ .Params.class | default "profile-page" }} sidebar-collapse">

  {{ partial "nav" . }}

  <div class="wrapper">

    <div class="page-header page-header-small clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="false" style="background-image: url( '{{ (.Param "background" | default "img/header.jpg") | absURL }}' );">
      </div>
      {{ block "title" . }}
      {{ end }}

    </div>
    
    <div class="main">
      <div class="{{ .Params.section | default "section"}}">
        <div class="container">

          {{ block "body" . }}
          {{ end }}

        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </div>
</body>
{{partial "javascript" . }}
</html>
