<div id="about" class="section section-about" data-background-color="yellow"> {{/*section-with-background */}}
  {{/* <div class="section-background-image" parallax="true" style="background-image: url( '{{ ( default "img/code_mnist.jpg") | absURL }}' );" data-background-color="light-blue"></div> */}}

  <div class="container">

    <div class="button-container">
      {{ range .Site.Menus.contact }}
      {{ $item :=  . }}
      {{with (eq .Identifier "resume")}}
      <a target="_blank" href="{{ $item.URL | relURL }}" class="btn btn-primary  btn-round btn-lg">{{ $item.Post }}</a>
      {{end}}

      {{ end }}
    </div>

    {{/* <div class="row justify-content-center align-items-center">

    <div class="col">

    <h2 class="title p-0 text-body">
    {{ with $.Site.GetPage "page" "about.md" }}
    {{with .Title }}
    {{ . | safeHTML }}
    {{end}}
    {{ end }}
  </h2>
  <h5 class="description text-body">
  {{ with $.Site.GetPage "page" "about.md" }}
  {{with .Content }}
  {{ . | replaceRE "<p>" "<p class=\"text-body\">" | safeHTML }}
  {{ end }}
  {{ end }}
</h5>

</div>

</div> */}}

<div class="row justify-content-center align-items-center">

  {{ with $.Site.GetPage "page" "about.md" }}
  <h2 class="title text-center text-body">
    {{with .Title }}
    {{ . | safeHTML }}
    {{end}}
  </h2>
  {{ end }}

</div>

<div class="team">
  <div class="row">
    <div class="col-md-4">
      <div class="team-player">
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons">
            <li class="nav-item">
                <a class="nav-link active">
                <i class="fas fa-car"></i>
              </a>
            </li>
          </ul>
        </div>
        {{/* <img src="../assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised"> */}}
        <h4 class="title text-body">Self-driving Car Engineer</h4>
        {{/* <p class="category text-primary">Designer</p> */}}
        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
          <a href="#">links</a> for people to be able to follow them outside the site.</p>
        {{/* <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a> */}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-player">
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons">
            <li class="nav-item">
                <a class="nav-link active">
                <i class="fas fa-database"></i>
                </a>
            </li>
          </ul>
        </div>
        {{/* <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised"> */}}
        <h4 class="title text-body">Research Scientist</h4>
        {{/* <p class="category text-primary">Fashion</p> */}}
        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
          <a href="#">links</a> for people to be able to follow them outside the site.</p>
        {{/* <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> */}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-player">
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons">
            <li class="nav-item">
                <a class="nav-link active">
                <i class="fas fa-laptop-code"></i>
                </a>
            </li>
          </ul>
        </div>
        {{/* <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised"> */}}
        <h4 class="title text-body">Software Engineer</h4>
        {{/* <p class="category text-primary">Model</p> */}}
        <h5 class="description text-body">I love everything about computer science and math.  </h5>
        {{/* <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> */}}
      </div>
    </div>
  </div>
</div>

</div>

</div>
