<div id="about" class="section section-with-background section-about"> 
  {{/* <div class="section-background-image" parallax="true" style="background-image: url( '{{ ( default "img/code_mnist.jpg") | absURL }}' );" data-background-color="light-blue">
  </div> */}}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <h2 class="title p-0">
          {{ with $.Site.GetPage "page" "about.md" }}
            {{with .Title }}
              {{ . | safeHTML }}
            {{end}}
          {{ end }}
        </h2>
          <h5 class="description">
            {{ with $.Site.GetPage "page" "about.md" }}
              {{with .Content }}
                {{ . | safeHTML }}
              {{ end }}
            {{ end }}
          </h5>
        </div>
      </div>
    </div>
  </div>
