<div id="contact" class="section section-contact" data-background-color="black">

  <div class="container">

    <div class="row justify-content-around text-center">

      <div class="text-center col-md-12">
        <h2>Contact me!</h2>
      </div>

      <div class="text-center col-md-12">
        <nav>

            {{ range .Site.Menus.contact }}

              <a target="_blank" href="{{ .URL | relURL }}" class="btn btn-neutral btn-default btn-icon  btn-round btn-lg" rel="tooltip" title="{{ .Post }}">{{ .Pre }} {{ .Name }}</a>

            {{ end }}

        </nav>

      </div>

    </div>

  </div>

</div>
