<div id="contact" class="section section-contact" data-background-color="black">

  <div class="container">

    <div class="row justify-content-around text-center">

      <div class="text-center col-md-12">
        <h2>Contact me!</h2>
      </div>

      <div class="text-center col-md-12">
        <nav>

          {{ range .Site.Menus.contact }}

          <a target="_blank" href="{{ .URL | relURL }}" class="btn btn-neutral btn-default btn-icon  btn-round btn-lg" rel="tooltip" title="{{ .Post }}">{{ .Pre }} {{ .Name }}</a>

          {{ end }}

          {{ range .Site.Menus.email }}

          <button style="font-size: 2em;" data-toggle="modal" data-target="#emailModal"  class="btn  btn-neutral btn-default btn-icon btn-round btn-lg" rel="tooltip" title="{{ .Post }}">{{ .Pre }} {{ .Name }}</button>

          <!-- Modal -->
          <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-muted" id="emailModalLabel">Email me at:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-body">
                  <div class="g-recaptcha" data-sitekey="6LcBO4IUAAAAAKS27aP1IHh3KQO-EyR_AwV7MtZ_"></div>

                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  {{/* <button type="button" class="btn btn-primary">Save changes</button> */}}
                </div>
              </div>
            </div>
          </div>

          {{ end }}
          {{/* <script>
          grecaptcha.ready(function() {
            grecaptcha.execute('6Lep14EUAAAAAM-UTmnjI6DcPvmKa1UmZRTXKwhC', {action: 'action_name'})
            .then(function(token) {
              // Verify the token on the server.
            });
          });
        </script> */}}
      </nav>

    </div>

  </div>

</div>

</div>
