<div id="education" class="section section-education" data-background-color="grey">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h2 class="title text-body">
          Education
        </h2>
        <div class="card-deck">

          <div class="card text-center mb-3">
            <h4 class="card-header m-3 text-muted">
              <strong>Nanodegree</strong>
            </h4>
            <img class="card-img-top h-auto mx-auto d-block" src="img/Udacity_logo.png" alt="Udacity Logo">
            <div class="card-body">
              <h4 class="card-title mb-3 text-body">Udacity</h4>
              <h5 class="card-subtitle mb-3 text-muted">2018-2019</h5>
              <p class="card-text text-body">Data Scientist</p>
              <a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025" class="card-link text-body">Udacity.com</a>
            </div>
            <div class="card-footer border">
              <button type="button" class="btn btn-neutral btn-lg btn-block text-body text-center" style="white-space: normal;"
              rel="tooltip"
              title="Term 1: Supervised Learning, Unsupervised Learning, and Deep Learning -- Term 2: Data Engineering, Experimental design, Recommendation Systems, and Capstone">
                Selected Coursework
              </button>
          </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>

          <div class="card text-center  mb-3">
            <h4 class="card-header m-3 text-muted">
              <strong>Nanodegree</strong>
            </h4>
            <img class="card-img-top h-auto mx-auto d-block" src="img/Udacity_logo.png" alt="Udacity Logo">
            <div class="card-body">
              <h4 class="card-title mb-3 text-body">Udacity</h4>
              <h5 class="card-subtitle mb-3 text-muted">2016-2017</h5>
              <p class="card-text text-body">Self-driving Car Engineering</p>
              <a href="https://www.udacity.com/course/self-driving-car-engineer-nanodegree--nd013" class="card-link text-body">Udacity.com</a>
            </div>
            <div class="card-footer border">
              <button type="button" class="btn btn-neutral btn-lg btn-block text-body text-center" style="white-space: normal;"
              rel="tooltip"
              title="Term 1: Computer Vision and Deep Learning -- Term 2: Sensor Fusion, Localization, and Control -- Term 3: Path Planning, Semantic Segmentation, and Capstone">
                Selected Coursework
              </button>
          </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on md--></div>

          <div class="card text-center mb-3">
            <h4 class="card-header m-3 text-muted">
              <strong>Ph.D.</strong>
            </h4>
            <img class="card-img-top h-auto w-50 mx-auto d-block" src="img/West_Virginia_University_logo.png" alt="WVU Logo">
            <div class="card-body">
              <h4 class="card-title mb-3 text-body">West Virginia University</h4>
              <h5 class="card-subtitle mb-3 text-muted">2012-2016</h5>
              <p class="card-text text-body">Computer Science</p>
              <a href="http://www.ece.ucf.edu/~yfallah/" class="card-link text-body">Advisor: Dr. Yaser Fallah</a>
            </div>
            <div class="card-footer border">
              <button type="button" class="btn btn-neutral btn-lg btn-block text-body text-center" style="white-space: normal;"
              rel="tooltip"
              title="Cyber-Physical Systems, Deep Learning, Sensor Actuator Networks, Advanced Analysis of Algorithms, Modern Control Systems, Combinatorial Optimization">
                Selected Coursework
              </button>
          </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>

        <div class="card text-center mb-3">
          <h4 class="card-header m-3 text-muted">
            <strong>M.Sc.</strong>
          </h4>
          <img class="card-img-top h-auto w-50 mx-auto d-block" src="img/Sharif_University_of_Technology_logo.png" alt="Sharif Logo">
          <div class="card-body">
            <h4 class="card-title mb-3 text-body">Sharif University of Technology</h4>
            <h5 class="card-subtitle mb-3 text-muted">2009-2011</h5>
            <p class="card-text text-body">Artificial Intelligence</p>
            <a href="http://sharif.edu/~hemmatyar/" class="card-link text-body">Advisor: Dr. Afshin Hemmatyar</a>
          </div>
          <div class="card-footer border">
            <button type="button" class="btn btn-neutral btn-lg btn-block text-body text-center" style="white-space: normal;"
            rel="tooltip"
            title="Machine Learning, Advanced Topics in AI: Reinforcement Learning, AI Planning, Evolutionary Algorithms, Algorithmic Game Theory, Data Communications, Social Networks">
            Selected Coursework
          </button>
        </div>
      </div>

      <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
      <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on md--></div>

      <div class="card text-center mb-3">
        <h4 class="card-header m-3 text-muted">
          <strong>B.Sc.</strong>
        </h4>
        <img class="card-img-top h-auto w-50 mx-auto d-block" src="img/University_of_Isfahan_logo.png" alt="Isfahan Logo">
        <div class="card-body">
          <h4 class="card-title mb-3 text-body">University of Isfahan</h4>
          <h5 class="card-subtitle mb-3 text-muted">2005-2009</h5>
          <p class="card-text text-body">Software Engineering</p>
          <a href="http://eng.ui.ac.ir/~monadjemi" class="card-link text-body">Advisor: Dr. AmirHassan Monadjemi</a>
        </div>
        <div class="card-footer border">
          <button type="button" class="btn btn-neutral btn-lg btn-block text-body text-center" style="white-space: normal;"
          rel="tooltip"
          title="Artificial Intelligence, Artificial Neural Networks, User Interface Design, Design of Algorithms, Software Engineering I & II, Data Structures">
          Selected Coursework
        </button>
      </div>
    </div>

    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>

  </div>
</div> <!-- col -->
</div> <!-- row -->
</div>
</div>
