<div id="education" class="section section-education" data-background-color="orange">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4 m-auto">

        <div class="card text-center">
          <div class="card-header mt-3 text-body">
              <strong>Ph.D.</strong>
          </div>
          <img class="card-img-top" src="img/West_Virginia_University_logo.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title mb-3 text-body">West Virginia University</h4>
            <h5 class="card-subtitle mb-3 text-muted">2012-2016</h5>
            <a href="#" class="card-link text-body">Advisor: Dr. Yaser Fallah</a>
            <button type="button" class="btn btn-neutral text-body" data-container="body" data-original-title="Popover on Bottom" data-toggle="popover" data-placement="bottom" data-content="Here will be some very useful information about his popover.">
              Selected Courses
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 m-auto">
        <div class="card text-center">
          <div class="card-header mt-3 text-body">
              <strong>M.Sc.</strong>
          </div>
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-body">Card title</h4>
            <p class="card-text text-body">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-4 m-auto">
        <div class="card text-center">
          <div class="card-header mt-3 text-body">
              <strong>B.Sc.</strong>
          </div>
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-body">Card title</h4>
            <p class="card-text text-body">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
