<div id="experience" class="section section-experience" >

  <div class="container">

    <h2 class="title text-body">
      Work Experience
    </h2>
    <!-- timeline item 1 -->
    <div class="row no-gutters">
      <!-- timeline item 1 event content -->

      <div class="col-sm py-2">
        <div class="card border border-danger">
          <div class="card-body">
            <div class="float-right text-muted small">Aug 2016 - Present</div>
            <h4 class="card-title text-primary">Research Scientist</h4>
            <h4 class="card-title text-body mt-0">Honda R&D</h4>
            <p class="card-text text-body">Automotive Technology Research Group</p>

            <div class="row justify-content-end">
              <div class="col-4  text-right">
                Southfield, MI
              </div>
            </div>


            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#honda_target_details" data-toggle="collapse">Show Details ▼</button>
            <div class="collapse border" id="honda_target_details">
              <div class="p-2 text-monospace">
                <ul>
                  <li>Connected and Automated Vehicles Technologies</li>
                  <li>Premium ADAS</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- timeline item 1 center dot -->
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-primary">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-sm"> <!--spacer--> </div>
    </div>
    <!--/row-->
    <!-- timeline item 2 -->
    <div class="row no-gutters">

      <div class="col-sm"> <!--spacer--> </div>

      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-sm py-2">
        <div class="card">
          <div class="card-body">
            <div class="float-right text-muted small">May 2016 - Aug. 2016</div>
            <h4 class="card-title text-primary">Research Intern</h4>
            <h4 class="card-title text-body mt-0">General Motors R&D</h4>
            <p class="card-text text-body">Connected Vehicle Systems Group</p>

            <div class="row justify-content-end">
              <div class="col-4  text-right">
                Warren, MI
              </div>
            </div>
            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#gm_target_details" data-toggle="collapse">Show Details ▼</button>
            <div class="collapse border" id="gm_target_details">
              <div class="p-2 text-monospace">
                <ul>
                  <li>Intelligent Transportation and Vehicular Networks</li>

                  {{/* <div>10:45 - 12:00 Live sessions in CR 3</div> */}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <!-- timeline item 3 -->
    <div class="row no-gutters">

      <div class="col-sm py-2">
        <div class="card">
          <div class="card-body">
            <div class="float-right text-muted small">Sep. 2012 - May 2016</div>
            <h4 class="card-title text-primary">Graduate Research Assistant</h4>
            <h4 class="card-title text-body mt-0">West Virginia University</h4>
            <p class="card-text text-body">Cyber-Physical Systems Lab</p>

            <div class="row justify-content-end">
              <div class="col-4  text-right">
                Morgantown, WV
              </div>
            </div>
            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#wvu_target_details" data-toggle="collapse">Show Details ▼</button>
            <div class="collapse border" id="wvu_target_details">
              <div class="p-2 text-monospace">
                <ul>
                  <li>Advanced Driver-Assistance Systems (ADAS)</li>
                  <li>Vehicle Communication and Vehicular Networks</li>

                  {{/* <div>10:45 - 12:00 Live sessions in CR 3</div> */}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col">&nbsp;</div> {{/* border-right */}}
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-sm"> <!--spacer--> </div>

    </div>


  </div>
  <!--/row-->
</div>
