<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <ul>
        {{ range .Site.Menus.footer }}
        <li>
          <a target="_blank" href="{{ .URL | relURL }}">{{ .Pre }} {{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="copyright text-left">
        This project has {{ len .Site.RegularPages }} pages and is available on
        <a target="_blank" href="https://github.com/amintahmasbi/personal_website" class="text-warning">Github</a>.
      </div>
    </nav>



    <div class="copyright text-right" id="copyright">
      Developed by {{ $.Site.Params.AuthorName }}<br>
      {{/* {{ dateFormat "Monday, Jan 2, 2006" .Page.Lastmod }} */}}
      {{ if .IsHome }}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
</footer>
