<!--   Core JS Files   -->
{{/* <script src="{{ "js/core/jquery.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/popper.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/bootstrap.min.js" | relURL }}" type="text/javascript"></script> */}}
<!-- Prefer to use CDN over local files -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
{{/* <script src="{{ "js/plugins/bootstrap-switch.js"| relURL }}"></script> */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
{{/* <script src="{{ "js/plugins/nouislider.min.js" | relURL }}" type="text/javascript"></script> */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.1.0/nouislider.min.js"></script>

<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
{{/* <script src="{{"js/plugins/bootstrap-datepicker.js" | relURL }}" type="text/javascript"></script> */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{{"js/now-ui-kit.js?v=1.2.0" | relURL }}" type="text/javascript"></script>
{{/* <script type="text/javascript">
$(document).ready(function() {
// the body of this function is in assets/js/now-ui-kit.js
nowuiKit.initSliders();
});

function scrollToDownload() {

if ($('.section-download').length != 0) {
$("html, body").animate({
scrollTop: $('.section-download').offset().top
}, 1000);
}
}
</script> */}}

{{/* <!--  Google Maps Plugin    -->
<script  src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> */}}

{{ range .Site.Params.custom_js }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}


<!-- Code highlighting -->
{{ if  not .Params.nocode }}
{{ $v := .Site.Params.highlight_version | default "9.12.0" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/highlight.min.js"></script>

{{ range .Site.Params.highlight_languages }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>
{{ end }}

{{ range .Params.highlight_languages }}
{{/* Do not double-include languages that are in both .Site.Params and .Params.
If Hugo ever grows a "union" function for set union, this range clause can be merged with the one above. */}}
{{ if not (in $.Site.Params.highlight_languages .) }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>

{{ end }}
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- LaTeX math rendering -->
{{ if not .Params.nomath }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script type="text/javascript" asyncn src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<script type="text/javascript">

$('#pill_cavs').click(function () {
  // var pill_cavs_image = "<div class='section-background-image' data-parallax='true' style='background-image: url({{ `img/night_traffic.jpg` | absURL }});'></div>"
  // $('#portfolio').addClass('section-with-background');
  // $('#portfolio').prepend(pill_cavs_image)
  $("#portfolio .section-background-image").attr("style","background-image: url('{{ `img/night_traffic.jpg` | absURL }}');")

});

$('#pill_software_eng').click(function () {
  $("#portfolio .section-background-image").attr("style","background-image: url('{{ `img/code_mnist.jpg` | absURL }}');")

});

$('#pill_data_science').click(function () {
  $("#portfolio .section-background-image").attr("style","background-image: url('{{ `img/hand_chart.jpg` | absURL }}');")


});

{{/* reCAPTCHA */}}
function show_email(destElem) {
  $.post('/show_email',$('#email_form').serialize()).done(function(response) {
    $(destElem).text(response['email']);
    $(destElem).prop("href", "mailto:"+response['email']);
  }).fail(function() {
    $(destElem).text("Error: Please verify the CAPTCHA.");
  });
}
</script>

{{ end }}
