<div id="portfolio" class="section section-with-background section-projects">

  <div class='section-background-image' style="background-image: url('{{ `img/night_traffic.jpg` | absURL }}');">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <h2 class="title text-center">My Portfolio</h2>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pill_cavs" data-toggle="tab" href="#project_cavs" role="tablist"
            data-toggle="tooltip" data-placement="top" title="Autonomous Driving Projects">
            <i class="fas fa-car"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pill_data_science" data-toggle="tab" href="#data_science" role="tablist"
          data-toggle="tooltip" data-placement="top" title="Deep Learning and Data Science Projects">
          <i class="fas fa-database"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pill_software_eng" data-toggle="tab" href="#software_eng" role="tablist"
        data-toggle="tooltip" data-placement="top" title="Software Engineering Projects">
        <i class="fas fa-laptop-code"></i>
      </a>
    </li>
    </ul>
  </div>
</div>
<!-- Tab panes -->
<div class="tab-content gallery">
  <div class="tab-pane active" id="project_cavs" role="tabpanel">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="img/night_traffic.jpg" alt="Autonomous Driving Projects" class="img-raised">
        <div class="card-img-overlay">
          <h4 class="card-title my-0 text-center">
            <a class="btn my-0 btn-primary btn-round" href="/projects/cavs" target="_self">
              Autonomous Driving Projects
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="software_eng" role="tabpanel">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="img/code_mnist.jpg" alt="Software Engineering Projects" class="img-raised">
        <div class="card-img-overlay">
          <h4 class="card-title my-0 text-center">
            <a class="btn my-0 btn-primary btn-round" href="/projects/cs" target="_self">
              Software Engineering Projects
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="data_science" role="tabpanel">
    <div class="row justify-content-center">
      <div class="col-md-6 justify-content-center">
        <img src="img/hand_chart.jpg" alt="Deep Learning and Data Science Projects" class="img-raised">
        <div class="card-img-overlay">
          <h4 class="card-title my-0 text-center">
            <a class="btn my-0 btn-primary btn-round" href="/projects/data" target="_self">
              Data Science Projects
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
