<div id="publications" class="section section-publications" >

  <div class="container">
    {{ with $.Site.GetPage "page" "publications.md" }}

    <h2 class="text-center text-muted py-3">{{.Title}}</h2>
    <!-- timeline item 1 -->

    {{range (findRE  "<p.*?>(.|\n)*?</p>" .Content) }}
    <div class="row">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-primary">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 event content -->
      <div class="col">
        <div class="card">
          <div class="card-body">
            {{/* <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div> */}}
            <h4 class="card-title my-0 text-muted">{{ . | safeHTML }}</h4>
            {{/* <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p> */}}
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    {{end}}
    {{end}}
    </div>
    <!--container-->
</div>
