<div id="skills" class="section section-skills p-0" data-background-color="cyan" >

  <div class="container">
    <div class="row justify-content-center align-items-center">
      {{/* <div class="col"> */}}
      {{ $skills := $.Site.GetPage "page" "skills.md"  }}

      <h2 class="title text-body">
        {{ $skills.Title }}
      </h2>
      <div class="card card-nav-tabs card-plain">

        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#programming" role="tab">
                Programming
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#software" role="tab">
                <i class="now-ui-icons objects_umbrella-13"></i>
                Sofware
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#os" role="tab">
                Operating Systems
              </a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content">

            <div class="tab-pane active" id="programming" role="tabpanel">
              {{/* <img class="card-img-top h-auto w-25 mx-auto d-block" src="img/Sharif_University_of_Technology_logo.png" alt="Card image cap"> */}}
              {{/* <h4 class="card-title mb-3 text-body">Sharif University of Technology</h4> */}}

              {{ range sort ($skills.Param "programming_skills") "val" "desc" }}
              {{/* <div class="progress-container"> */}}
              <span class="progress-badge text-body">{{ .name }}</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="background-color: #2e96a5;width: {{ .val }}%;">
                  {{/* <span class="progress-value text-body">{{ $value }}%</span> */}}
                </div>
              </div>
              {{/* </div> */}}
              {{ end }}
              {{/* <h5 class="card-subtitle mb-3 text-muted">2009-2011</h5>
              <p class="text-body">Artificial Intelligence</p>
              <a href="http://sharif.edu/~hemmatyar/" class="card-link text-body">Advisor: Dr. Afshin Hemmatyar</a> */}}
            </div>

            <div class="tab-pane" id="software" role="tabpanel">
              {{/* <img class="card-img-top h-auto w-25 mx-auto d-block" src="img/Sharif_University_of_Technology_logo.png" alt="Card image cap"> */}}

              {{ range sort ($skills.Param "software_skills") "val" "desc" }}
              {{/* <div class="progress-container"> */}}
              <span class="progress-badge text-body">{{ .name }}</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="background-color: #2e96a5;width: {{ .val }}%;">
                  {{/* <span class="progress-value text-body">{{ $value }}%</span> */}}
                </div>
              </div>
              {{/* </div> */}}
              {{ end }}

            </div>
            <div class="tab-pane" id="os" role="tabpanel">
              <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
            </div>
          </div>
        </div>



      </div>


      {{/* </div> */}}
    </div>
  </div>
</div>
