<div id="skills" class="section section-full-screen section-skills" data-background-color="orange" style="background-image:url('/img/code_mnist.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        {{/* <h2 class="title p-0">
          {{ with $.Site.GetPage "page" "about.md" }}
            {{with .Title }}
              {{ . | safeHTML }}
            {{end}}
          {{ end }}
        </h2>
          <h5 class="description">
            {{ with $.Site.GetPage "page" "about.md" }}
              {{with .Content }}
                {{ . | safeHTML }}
              {{ end }}
            {{ end }}
          </h5> */}}
        </div>
      </div>
    </div>
  </div>
