<!doctype html>

<html lang={{ .Site.LanguageCode }}>

{{partial "head" . }}

<body class="profile-page sidebar-collapse">

  {{ partial "nav" . }}


  <div class="wrapper">

    <div class="page-header clear-filter" filter-color="orange">

      <div class="page-header-image" data-parallax="false" style="background-image: url( '{{ (.Param "background" | default "img/header.jpg") | absURL }}' );">
      </div>

      <!-- {{ block "index_title" . }}
      {{ end }} -->
      <div class="container">
        <div class="content-center">
          <div class="photo-container">
            <img src="/img/Profile_pic.jpg" alt="">
          </div>
          <h2 class="title">
            {{with .Title }}
            {{ . | safeHTML }}
            {{end}}
          </h2>
          <p class="category">
            {{with .Params.description }}
            {{ . | safeHTML }}
            {{ end }}
          </p>
          <!-- Contact me -->
          <div class="my-5 py-4">
          <nav>
            {{ range .Site.Menus.contact }}

            <a target="_blank" href="{{ .URL | relURL }}" class="btn btn-neutral btn-primary btn-icon  btn-round btn-lg" rel="tooltip" title="{{ .Post }}">{{ .Pre }} {{ .Name }}</a>

            {{ end }}

            {{ range .Site.Menus.email }}

            <button style="font-size: 2em;" data-toggle="modal" data-target="#emailModal" class="btn  btn-neutral btn-primary btn-icon btn-round btn-lg" rel="tooltip" title="{{ .Post }}">{{ .Pre }} {{ .Name }}</button>

            {{ end }}

          </nav>
        </div>
        </div>
      </div>

    </div>

    <div class="main">


      {{ partial "about.html" . }}
      {{ partial "experience.html" . }}
      {{ partial "education.html" . }}
      {{ partial "skills.html" . }}

      {{ partial "portfolio.html" . }}

      {{ partial "publications.html" . }}
      {{ partial "contact.html" . }}


    </div>

    {{ partial "footer" . }}

  </div>
</body>
{{partial "javascript" . }}
</html>
