<!doctype html>

<html lang={{ .Site.LanguageCode }}>

{{partial "head" . }}

<body class="{{ .Params.class | default "profile-page" }} sidebar-collapse">
  {{ partial "nav" . }}

  <div class="{{ .Params.wrapper | default "wrapper" }}">

    <div class="page-header page-header-small clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="false" style="background-image: url( '{{ (.Param "background" | default "img/header.jpg") | absURL }}' );">
      </div>

      <div class="container">
        <div class="content-center">
          <div class="photo-container">
            <img src="/img/Profile_pic.jpg" alt="">
          </div>
          <h3 class="title">I'm {{ .Site.Params.AuthorName }},</h3>
          <p class="category"> Research Scientist and Software Engineer<br>
            PhD in computer science working on autonomous vehicles
          </p>
        </div>
      </div>

    </div>
    <div class="{{ .Params.section | default "section"}}">
      <div class="container">

        {{ block "body" . }}
        {{ end }}

      </div>
    </div>
    {{ partial "footer" . }}
  </div>
</body>
{{partial "javascript" . }}
</html>
