<!doctype html>

<html lang={{ .Site.LanguageCode }}>

{{partial "head" . }}

<body class="profile-page sidebar-collapse">

  {{ partial "nav" . }}


  <div class="wrapper">

    <div class="page-header  clear-filter" filter-color="orange">

      <div class="page-header-image" data-parallax="false" style="background-image: url( '{{ (.Param "background" | default "img/header.jpg") | absURL }}' );">
      </div>

      <!-- {{ block "index_title" . }}
      {{ end }} -->
      <div class="container">
        <div class="content-center">
          <div class="photo-container">
            <img src="/img/Profile_pic.jpg" alt="">
          </div>
          <h2 class="title">
            {{with .Title }}
            {{ . | safeHTML }}
            {{end}}
          </h2>
          <p class="category">
            {{with .Params.description }}
            {{ . | safeHTML }}
            {{ end }}
          </p>
        </div>
      </div>

    </div>

    <div class="main">


      {{ partial "about.html" . }}
      {{ partial "education.html" . }}
      {{ partial "skills.html" . }}

      {{/* {{ partial "experience.html" . }}
      {{ partial "projects.html" . }}
      {{ partial "publications.html" . }} */}}


    </div>

    {{ partial "footer" . }}

  </div>
</body>
{{partial "javascript" . }}
</html>
